<div class="dashboard">
    <div>
      <button mat-button class="menu-button ff-normal" routerLink="/">
        <mat-icon>home</mat-icon>
        <span> Home</span>
      </button>
      <button mat-button class="menu-button ff-normal" routerLink="/timer">
        <mat-icon>alarm_on</mat-icon>
        <span> Pomodoro</span>
      </button>
      <button mat-button class="menu-button ff-normal" routerLink="/aboutus">
        <mat-icon>account_circle</mat-icon>
        <span> About Us</span>
      </button>
    </div>
  </div>