<section>
<div class=" mainContent">

  <div class="card" style="width: 18rem; background: #ede7f6;">
    <img class="card-img-top studentImg" src="assets/students/srishti.png" alt="Student">
    <div class="card-body">
      <h5 class="card-title" style="color: #8e24aa;">Srishti Prasad</h5>
      <p class="card-text" style="color: #ab47bc;">I am Srishti Prasad (20MIC0035), currently pursuing Int. Mtech in
        Computer Science and Enggineering in VIT VELLORE.</p>

    </div>
  </div>

  <div class="card" style="width: 18rem; background: #ede7f6;">
    <img class="card-img-top studentImg" src="assets/students/Laasya.jpg" alt="Student">
    <div class="card-body">
      <h5 class="card-title" style="color: #8e24aa;">Laasya Ojaswini Bulusu</h5>
      <p class="card-text" style="color: #ab47bc;">I am Laasya (20MIC0065), currently pursuing Int. Mtech in Computer
        Science and Enggineering in VIT VELLORE.</p>

    </div>
  </div>

  <div class="card" style="width: 18rem; background: #ede7f6;">
    <img class="card-img-top studentImg" src="assets/students/Mayank.png" alt="Student">
    <div class="card-body">
      <h5 class="card-title" style="color: #8e24aa;">Mayank Raj</h5>
      <p class="card-text" style="color: #ab47bc;">I am Mayank (20MIC0018), currently pursuing Int. Mtech in Computer
        Science and Engineering in VIT VELLORE.</p>

    </div>
  </div>

</div>
</section>

<section>
<div class = "mainContent">
  <div class="card " style="width: 18rem; background: #ede7f6;">
    <img class="card-img-top studentImg" src="assets/students/Sravya.jpeg" alt="Student">
    <div class="card-body">
      <h5 class="card-title" style="color: #8e24aa;">BVN Sravya</h5>
      <p class="card-text" style="color: #ab47bc;">I am Sravya (20MIC0093), currently pursuing Int. Mtech in Computer
        Science and Engineering in VIT VELLORE.</p>

    </div>
  </div>

  <div class="card" style="width: 18rem; background: #ede7f6;">
    <img class="card-img-top studentImg" src="assets/students/Vaishnavi1.jpeg" alt="Student" style="background: cover;">
    <div class="card-body">
      <h5 class="card-title" style="color: #8e24aa;">Sai Dyuti Vaishnavi .V </h5>
      <p class="card-text" style="color: #ab47bc;">I am Vaishanavi (20MIC0014), currently pursuing Int. Mtech in
        Computer Science and Engineering in VIT VELLORE.</p>

    </div>
  </div>
</div>
</section>